*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Inter;
}
.container{
    width: 100%;
    height: 100vh;
    background:#fff;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup{
    width: 600px;
    background: #FBFAF9;
    border-radius: 5px;
    position: absolute;
<<<<<<< HEAD
    top: 0; 
=======
    top: 50%;  
>>>>>>> 8284b106b1c77496e52ef5fa8032029913c2adf6

    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
<<<<<<< HEAD
}
.open-popup{
    visibility: visible;
    top: 50%;
=======
    /* visibility: hidden; */
>>>>>>> 8284b106b1c77496e52ef5fa8032029913c2adf6
}
button{
    padding: 10px 50px;
    background: green;
    border-radius: 40px;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}


